<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous"
        />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="./css/style.css" />
        <script>
            
            function change(){
              
               document.getElementById("buyer").style.display="initial";
               document.getElementById("seller").style.display="none";
            }
            function rchange(){
               
               document.getElementById("buyer").style.display="none";
               document.getElementById("seller").style.display="initial";
            }
        </script>
        
        <title>Pharmacy Website</title>
    </head>
    <body >
        <%- include('particles/navbar') %> <br><br>
        <hr />
              <h3 style="margin-left:300px ;">Sign Up</h3>
              <div class="form bg-light p-5 mx-5" style="border: 1px solid black;  max-width: 600px; border-radius: 20px; min-height: 300px; margin-left:200px ;">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button class="btn btn-dark" onclick="change()">buyer account</button>
                  <button class="btn btn-dark" onclick="rchange()">seller account</button>
                  </div>
                  <br><br>
               
                <% if (message.length > 0) { %>
                    <div class="alert alert-success col-sm-12"><%= message %></div>
        <% } %>
        <form action="signup" id="buy" method="POST" enctype="multipart/form-data">
                 <div id="buyer">
                   <label for="user-name">user name:</label>
                   <input class="input" type="text" name="usname"> <br> <br>
                   <label for="first-name">First Name:</label>
                   <input class="input" type="text" name="fname"> <br> <br>
                   <label for="last-name">Last Name:</label>
                   <input class="input" type="text" name="lname"> <br> <br>
                   <label for="email">Email:</label>
                   <input class="input" type="email" name="email"> <br><br>
                   <label for="phone">phone:</label> 
                   <input type="number" class="input" name="phone"> <br><br>
                   <label for="address">Address:</label>
                   <input class="input" type="text" placeholder="address line 1" name="add1" required> <br><br>
                   <input class="input" type="text" placeholder="address line 2" name="add2"> <br><br>
                   <input class="input" type="text" placeholder="address line 3" name="add3"> <br><br>
                   <label for="address">postal code:</label>
                   <input type="number" name="pin" class="input"  required> <br><br>
                   <label for="password">password:</label>
                   <input class="input" type="password" name="pass"> <br><br>
                   <label for="profile">profile picture</label>
                   <input type="file" name="profile"> <br><br>
                   
                   <input type="submit" class="btn btn-dark ml-lg-2"> 
                </form>
                </div>
                
                <div id="seller" style="display: none; " >
                    <form action="signup" id="sel" method="POST" enctype="multipart/form-data">
                    <label >company user name:</label>
                    <input class="input" type="text" name="cuname"> <br> <br>
                    <label for="cfname">representative First Name:</label>
                    <input class="input" type="text" name="cfname"> <br> <br>
                    <label for="clname">representative Last Name:</label>
                    <input class="input" type="text" name="clname"> <br> <br>
                    <label for="cemail">company Email:</label>
                    <input class="input" type="email" name="cemail"> <br><br>
                    
                   <label for="phone">phone:</label>
                   <input type="number" class="input" name="cphone"> <br><br>
                    <label for="address">Address:</label>
                    <input class="input" type="text" placeholder="address line 1" name="cadd1"> <br><br>
                    <input class="input" type="text" placeholder="address line 2" name="cadd2"> <br><br>
                    <input class="input" type="text" placeholder="address line 3" name="cadd3"> <br><br>
                    <label for="address">postal code:</label>
                   <input type="number" name="cpin" class="input"  required> <br><br>
                    <label for="password">password:</label>
                    <input class="input" type="password" name="cpass"> <br><br>
                    <label for="profile">profile picture</label>
                    <input type="file" name="profile"> <br><br>
                
                   <input type="submit" class="btn btn-dark ml-lg-2"> 
                </form>
            </div>
               
            </div>
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"
        ></script>
        <br><br>
        <%- include('particles/footer') %>